.fright, .rfloat {float: right}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}
.right {text-align: right}

.explication, .description {
  font-style: italic;
  font-size: 0.85em;
  opacity: 0.6;
}

div.buttons {
  text-align: right;
}

.center {text-align: center}

.petit { font-size: 16px }
.tiny { font-size: 13.3333px }

textarea, input[type="text"], select, select > option {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"].short {
  width: 40px;
}
